* {
  font-family: 'Roboto', sans-serif;
  color: #333;
}

body {
  margin: 0;
  padding: 0;
  background-color: #edf0f2;
}

#app {
  padding: 25px;
}

h1,
h2 {
  text-transform: uppercase;
}

input {
  width: 250px;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  outline: 0;
  margin-bottom: 5px;
}

Form button {
  background-color: #43bc70;
  padding: 8px 12px;
  font-size: 16px;
  border-radius: 3px;
  border: 0;
  color: #fff;
}

#tasks button {
  background-color: transparent;
  font-size: 16px;
  border: 0;
  color: red;
}